{% extends "base/index.html" %}

{% block titulo %}
Lista Motos
{% endblock titulo %}

{% block h1_header %}
{{moto}}
{% endblock h1_header %}
{% block h2_header %}
{% endblock h2_header %}
{% block boton %}{% endblock boton %}
{% block servicios %}
{% if moto.imagen %}
    <img src="{{ moto.imagen.url }}"  class="moto-image">
    {% else %}
        <img src="default-image.jpg" alt="Imagen no disponible" class="moto-image">
{% endif %}
<div class= 'moto-card'>
<ul>
    <li>Marca: {{moto.marca}}</li>
    <li>Modelo: {{moto.modelo}}</li>
    <li>Año: {{moto.año}}</li>   
    <li>Kilometros: {{moto.kilometros}}</li>    

</ul>
</div>
{% endblock servicios %}





